/*front*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap');
/*variables css*/
:root{
    --header-height:6.25rem;

    /*collors*/
    --main-color: #f7e6df;
    --first-color: #75492b;
    --second-color: #dfd6a7;
    --white-color: #fffff;
    --black_color: #151515;

    /*font and typography*/
    --font-cursive: 'Great Vibes', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

    /*font wight*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 700;
    --font-bold: 800;

    /*margins*/
    --mb-05: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z indexs*/
    --z-fixed: 100;
    --z-tooltip: 10;
    --z-negative: -1;
}

/*base*/
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.section{
    padding: calc(var(--header-height) +20px) 0;
}

.grid{
    display: grid;
    gap: 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*NAV*/
.l-header{
    width: 100%;
    height: var(--header-height);
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    transition: all 400ms ease;
}

.navbar{
    justify-content: space-between;
    padding: 20px;
}

.nav_toggle{
    font-size: var(--h1-font-size);
    padding: 5px 5px 0;
    border: 2px solid transparent;
    cursor: pointer;
    z-index: var(--z-fixed);
}

.nav_toggle:hover{
    color: var(--first-color);
    border: 2px solid var(--first-color);
}

/*media query navbar*/

@media (max-width:960px){
    .nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        background-color: var(--main-color);
        font-size: var(--h2-font-size);
        text-align: center;
        text-transform: capitalize;
        padding-top: var(--header-height);
    }
    .nav_item{
        padding: 15px 0;
    }
}

.nav_link{
    font-weight: var(--font-bold);
    color: var(--black_color);
    position: relative;
    transition: all 400ms ease;
}

.nav_link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    transition: all 400ms ease-in-out;
}

.nav_link:hover::before{
    width: 100%;
}

.nav_link:hover{
    color: var(--first-color);
}
