/*front*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap');
/*variables css*/
:root{
    --header-height:6.25rem;

    /*collors*/
    --main-color: #f7e6df;
    --first-color: #75492b;
    --second-color: #dfd6a7;
    --white-color: #ffffff;
    --black_color: #151515;

    /*font and typography*/
    --font-cursive: 'Great Vibes', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

    /*font wight*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 700;
    --font-bold: 800;

    /*margins*/
    --mb-05: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z indexs*/
    --z-fixed: 100;
    --z-tooltip: 10;
    --z-negative: -1;
}

/*base*/
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.section{
    padding: calc(var(--header-height) +20px) 0;
}

.grid{
    display: grid;
    gap: 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_title{
    margin: 0 auto;
    text-align: center;
}
.section_title{
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    line-height: var(--big-font-size);
    color: var(--first-color);
}

.section_title span{
    font-weight: var(--font-light);
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    color: var(--black_color);
}
/*button*/
.btn{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--first-color);
    color: var(--white-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    line-height: var(--normal-font-size);
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn:hover{
    background-color: transparent;
    color: var(--first-color);
}

.btn_outline{
    width: 280px;
    background-color: transparent;
    color: var(--first-color);
    padding: 5px 10px 5px 0;
    transition: all 400ms ease-in-out;
    position: relative;
}

.btn_outline::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    transition: all 400ms ease-in-out;
}

.btn_outline i{
    margin-right: var(--mb-1-5);
    font-size: var(--h2-font-size);
    color: var(--white-color);
    z-index: var(--z-tooltip);
}

.btn_outline:hover::before{
    width: 100%;
    z-index: var(--z-negative);
}

.btn_outline:hover{
    color: var(--white-color);
    z-index: var(--z-tooltip);
}

/*NAV*/
.l-header{
    width: 100%;
    height: var(--header-height);
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    transition: all 400ms ease;
}

.navbar{
    justify-content: space-between;
    padding: 20px;
}

.nav_toggle{
    font-size: var(--h1-font-size);
    padding: 5px 5px 0;
    border: 2px solid transparent;
    cursor: pointer;
    z-index: var(--z-fixed);
}

.nav_toggle:hover{
    color: var(--first-color);
    border: 2px solid var(--first-color);
}

/*media query navbar*/

@media (max-width:960px){
    .nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: var(--main-color);
        font-size: var(--h2-font-size);
        text-align: center;
        text-transform: capitalize;
        padding-top: var(--header-height);
        transition: all 400ms ease-in-out;
    }
    .nav_item{
        padding: 15px 0;
    }
    .show-menu{
        width: 60%;
    }
}

.nav_link{
    font-weight: var(--font-bold);
    color: var(--black_color);
    position: relative;
    transition: all 400ms ease;
}

.nav_link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    transition: all 400ms ease-in-out;
}

.nav_link:hover::before{
    width: 100%;
}

.nav_link:hover,
.nav_link.active-link{
    color: var(--first-color);
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    border-radius: 0 0 300px 0;
}

.hero .hero_img{
    display: none;
}

.hero .hero_content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_content h1{
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    line-height: calc(var(--big-font-size) + 30px);
    letter-spacing: 0.1em;
    color: var(--first-color);
    margin-bottom: var(--mb-1-5);
    text-align: center;
}

.hero_content p{
    font-weight: var(--font-medium);
    text-align: center;
    line-height: calc(var(--normal-font-size) + 10px);
    padding: 0 3rem;
    letter-spacing: 0.2em;
    color: var(--black_color);
    margin-bottom: var(--mb-1-5);
}
/*about*/
.about{
    width: 100%;
    background-image: url(../img/arabesco-left-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: var(--z-negative);
}

.about_detail{
    width: 100%;
    padding: 2rem;
}

.about_detail_content{
    border: 2px solid var(--first-color);
    border-radius: 30px;
    padding: 1rem;
}

.about_img img{
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(16px 16px 16px rgba(0,0,0,0.25));
}

.about_descripion{
    position: relative;
    padding: 2rem;
}

.about_descripion::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 110%;
    top: -10%;
    left: 0;
    background: var(--main-color);
    border-radius: 30px;
    box-shadow: 4px 8px 16px rgba(0,0,0,0.25);
    z-index: var(--z-negative);
}

.about_descripion p{
    font-weight: var(--font-medium);
    line-height: calc(var(--normal-font-size) + 12px);
    color: var(--black_color);
}